.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style Items */
.btn_ver_mas{
  background-color: #e4c360; 
}

.cardStyle{
  border: none;
  margin-top: 24;
  margin-bottom: 24;
  background-color:#F2FEDC ; 
}


/*Count*/
.btn_item_count{
  color: #000;
  border: none;
  background-color: #e4c360
}

.img_med{
  height: 90%;
  width: auto;
}


.titleStyle {
  padding-bottom: 24
}
.detailsStyle {
  background-color:#F2FEDC;
  margin-top: 20px;
  border-radius: 10%;
}

